<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="payme.pe.apps.digitakpark.payme">

    <!-- services -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name="apps.digitakpark.payapp.PaymeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="apps.digitakpark.payapp.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="apps.digitakpark.payapp.create.ui.CreateDebtActivity"
            android:screenOrientation="portrait" />
        <activity android:name="apps.digitakpark.payapp.password.PasswordActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="apps.digitakpark.payapp.preferences.PreferencesActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait" />
        <activity
            android:name="apps.digitakpark.payapp.detail.ui.DebtDetailedActivity"
            android:label="@string/title_activity_debt_detailed"
            android:parentActivityName="apps.digitakpark.payapp.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="apps.digitakpark.payapp.MainActivity" />
        </activity>
        <activity
            android:name="apps.digitakpark.payapp.contacts.ContactsActivity"
            android:label="@string/title_contacts"
            android:parentActivityName="apps.digitakpark.payapp.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="apps.digitakpark.payapp.MainActivity" />
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
    </application>

</manifest>